<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/svg" href="~/Content/assets/images/svg/MM_Icon.svg">
    <title>@ViewBag.Title - M&M Enterprise</title>

    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/jquery.qtip.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/fullcalendar.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/fullcalendar.print.css")" media="print" />

    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="@Url.Content("~/Content/toastr.min.css")" />

    @Scripts.Render("~/bundles/modernizr")    
</head>
<body>

    @Html.Partial("_Navigation")

    <div class="ss_box_bg">
        @RenderBody()
    </div>

    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/inputmask")
    <script src="@Url.Content("~/Scripts/toastr.min.js")"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
