<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/svg" href="~/Content/assets/images/svg/MM_Icon.svg">
    <title>@ViewBag.Title - M&M Enterprise</title>

    <link href="~/Content/assets/css/jquery.inputpicker.css?v3" rel="stylesheet" type="text/css">

    @Styles.Render("~/Content/css")
    <link href="~/Content/toastr.css" rel="stylesheet" />
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Scripts.Render("~/bundles/jquery")
</head>
<body>

    @Html.Partial("_Navigation")

    <div class="ss_box_bg">
        @*<br />*@
        @RenderBody()
    </div>

    @Html.Partial("_Footer")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="~/Content/assets/js/jquery.inputpicker.js?v3"></script>


    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/inputmask")
    <script src="~/Scripts/toastr.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
