@model CustomerSupport.Models.MServiceRequest

@{
    ViewBag.Title = "Detalle Solicitud de Servicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">@ViewBag.Title</h3>
    </div>
    <div class="card-body">

        <div class="m-0 row justify-content-center">
            <div class="form-horizontal col-md-12">

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="control-label">Número de Solicitud:</div>
                            @Html.DisplayFor(model => model.IdServiceRequest)
                            @Html.HiddenFor(model => model.IdServiceRequest)
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">

                    <div class="col-md-12">
                        <div class="accordion border" id="accordionClient">
                            <div class="card collapsed-card">
                                <div class="card-header" id="headingClient">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link text-decoration-none" type="button" data-toggle="collapse" data-target="#collapseCardClient" aria-expanded="false" aria-controls="collapseClient">
                                            Datos del Cliente
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseCardClient" class="collapse" aria-labelledby="headingClient" data-parent="#accordionClient">

                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="control-label font-weight-bold">Tipo de Identificacion:</div>
                                                    <label id="lbIdentificationType"></label>
                                                    @Html.DisplayFor(model => model.PersonClient.IdentificationType)
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="control-label font-weight-bold">Numero de Identificacion:</div>
                                                    <label id="lbNumIdentification"></label>
                                                    @Html.DisplayFor(model => model.PersonClient.NumIdentification)
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="control-label font-weight-bold">Nombres:</div>
                                                    <label id="lbName"></label>
                                                    @Html.DisplayFor(model => model.PersonClient.Name)
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="control-label font-weight-bold">Apellidos:</div>
                                                    <label id="lbLastName"></label>
                                                    @Html.DisplayFor(model => model.PersonClient.LastName)
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="row">

                    <div class="col-md-12">

                        <div class="accordion border" id="accordionService">
                            <div class="card collapsed-card">
                                <div class="card-header" id="headingService">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link text-decoration-none" type="button" data-toggle="collapse" data-target="#collapseCardService" aria-expanded="false" aria-controls="collapseService">
                                            Datos del Servicio
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseCardService" class="collapsed" aria-labelledby="headingService" data-parent="#accordionService">

                                    <div class="card-body">
                                        <div class="row">
                                            <div id="divServiceType" class="col-md-4">
                                                <div class="form-group">
                                                    <div class="control-label font-weight-bold">Tipo de Servicio:</div>
                                                    @Html.DisplayFor(model => model.ServiceType)
                                                </div>
                                            </div>

                                            @*<div id="divIdServiceRequest" class="col-md-4">
                                                <div class="form-group">
                                                    <div class="control-label font-weight-bold">Número Solicitud:</div>
                                                    @Html.DisplayFor(model => model.IdServiceRequest)
                                                </div>
                                            </div>*@

                                            <div id="divServiceStatus" class="col-md-4">
                                                <div class="form-group">
                                                    <div class="control-label font-weight-bold">Estado:</div>
                                                    @Html.DisplayFor(model => model.ServiceStatus)
                                                </div>
                                            </div>

                                        </div>

                                        @if (Model.ServiceType == "Compras")
                                        {

                                            <div id="serviceCompras">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <div class="control-label font-weight-bold">Tipo de Propiedad:</div>
                                                            @Html.DisplayFor(model => model.PropertyType)
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="control-label font-weight-bold">Direccion de la Propiedad:</div>
                                                            @Html.DisplayFor(model => model.Address, new { @rows = 3, @cols = 10 })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="control-label font-weight-bold">Precio de Compra:</div>
                                                            @Html.DisplayFor(model => model.Price, "{0:N2}")
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="control-label font-weight-bold">Down payment:</div>
                                                            @Html.DisplayFor(model => model.DownPayment, "{0:N2}")

                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="control-label font-weight-bold">Closing Cost:</div>
                                                            @Html.DisplayFor(model => model.ClosingCost, "{0:N2}")
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="control-label font-weight-bold">Ingreso Promedio:</div>
                                                            @Html.DisplayFor(model => model.MonthlyIncome, "{0:N2}")
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="control-label font-weight-bold">Deudas/Pagos Promedio:</div>
                                                            @Html.DisplayFor(model => model.DebtPayment, "{0:N2}")
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="control-label font-weight-bold">PITI:</div>
                                                            @Html.DisplayFor(model => model.Piti, "{0:N2}")
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="control-label font-weight-bold">RATIOS:</div>
                                                            @Html.DisplayFor(model => model.Ratios, "{0:N2}")
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                        @if (Model.ServiceType == "Planos" || Model.ServiceType == "Construcción")
                                        {
                                            <div id="serviceConstruccionPlanos">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <div class="control-label font-weight-bold">Tipo de Propiedad:</div>
                                                            @Html.DisplayFor(model => model.PropertyType)
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="control-label font-weight-bold">Direccion de la Propiedad:</div>
                                                            @Html.DisplayFor(model => model.Address, new { @rows = 3, @cols = 10 })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="control-label font-weight-bold">Valor Estimado:</div>
                                                            @Html.DisplayFor(model => model.EstimatedValue, "{0:N2}")
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="control-label font-weight-bold">Tiene Planos?</div>
                                                            @{ string isPlane = "";
                                                                isPlane = Model.Plane == true ? "Si" : "No";
                                                            }
                                                            @isPlane

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row pt-2 pb-3">

                                                    <div class="col-md-12">

                                                        <div class="accordion border" id="accordionContact">
                                                            <div class="card collapsed-card">
                                                                <div class="card-header" id="headingContact">
                                                                    <h2 class="mb-0">
                                                                        <button class="btn btn-link text-decoration-none" type="button" data-toggle="collapse" data-target="#collapseCardContact" aria-expanded="false" aria-controls="collapseContact">
                                                                            Operación de construcción
                                                                        </button>
                                                                    </h2>
                                                                </div>

                                                                <div id="collapseCardContact" class="collapse" aria-labelledby="headingContact" data-parent="#accordionContact">

                                                                    <div class="card-body">

                                                                        <div class="row pt-3">
                                                                            <div class="col-md-12">
                                                                                <div class="form-group">
                                                                                    <div class="table-responsive">
                                                                                        <div class="container">

                                                                                            <table id="TServiceConstructionOption" class="table table-bordered table-striped">
                                                                                                <thead>
                                                                                                    <tr>
                                                                                                        <th>Código</th>
                                                                                                        <th>Descripción</th>
                                                                                                    </tr>
                                                                                                </thead>
                                                                                                <tbody>
                                                                                                    @foreach (var item in Model.listConstructionOption)
                                                                                                    {
                                                                                                        <tr>
                                                                                                            <td>@item.IdConstructionOption</td>
                                                                                                            <td>@item.ConstructionOption</td>
                                                                                                        </tr>
                                                                                                    }
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="control-label font-weight-bold">Necesita Financiamiento?</div>
                                                            @{ string isFinancing = "";
                                                                isFinancing = Model.Financing == true ? "Si" : "No";
                                                            }
                                                            @isFinancing

                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="control-label font-weight-bold">Ingreso Promedio:</div>
                                                            @Html.DisplayFor(model => model.MonthlyIncome, "{0:N2}")
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="control-label font-weight-bold">Deudas/Pagos Promedio:</div>
                                                            @Html.DisplayFor(model => model.DebtPayment, "{0:N2}")
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        }

                                        @if (Model.ServiceType == "Refinanciamiento")
                                        {
                                            <div id="serviceRefinanciamiento">

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <div class="control-label font-weight-bold">Tipo de Propiedad:</div>
                                                            @Html.DisplayFor(model => model.PropertyType)
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="control-label font-weight-bold">Direccion de la Propiedad:</div>
                                                            @Html.DisplayFor(model => model.Address, new { @rows = 3, @cols = 10 })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="control-label font-weight-bold">Valor Estimado de la Propiedad:</div>
                                                            @Html.DisplayFor(model => model.EstimatedValue, "{0:N2}")
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="control-label font-weight-bold">Loan Amount:</div>
                                                            @Html.DisplayFor(model => model.LoanAmount)
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="control-label font-weight-bold">Deuda Actual de la Hipoteca:</div>
                                                            @Html.DisplayFor(model => model.CurrentDebt, "{0:N2}")
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="control-label font-weight-bold">Ingreso Promedio:</div>
                                                            @Html.DisplayFor(model => model.MonthlyIncome, "{0:N2}")
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="control-label font-weight-bold">Deudas/Pagos Promedio:</div>
                                                            @Html.DisplayFor(model => model.DebtPayment, "{0:N2}")
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="control-label font-weight-bold">PITI:</div>
                                                            @Html.DisplayFor(model => model.Piti)
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="control-label font-weight-bold">RATIOS:</div>
                                                            @Html.DisplayFor(model => model.Ratios)
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                        @if (Model.ServiceType == "Living Trust")
                                        {
                                    <div id="serviceLivingTrust">
                                        @*<div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="control-label font-weight-bold">Tipo de Propiedad:</div>
                    @Html.DisplayFor(model => model.PropertyType)
                </div>
            </div>
        </div>*@
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="control-label font-weight-bold">Que tipos de bienes desea agregar?</div>
                                                    @Html.DisplayFor(model => model.Assets, new { @rows = 3, @cols = 10 })
                                                </div>
                                            </div>
                                        </div>
                                        @if (Model.Beneficiaries != null && Model.Beneficiaries.Trim() != "")
                                        {
                                            <div class="row">
                                                <div id="divBeneficiarios" class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="control-label font-weight-bold">Beneficiarios:</div>
                                                        @Html.DisplayFor(model => model.Beneficiaries)
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="control-label font-weight-bold">Explicacion breve del proceso:</div>
                                                    @Html.DisplayFor(model => model.Process, new { @class = "form-control", @rows = 3, @cols = 10 })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="control-label font-weight-bold">Desea que:</div>
                                                    @Html.DisplayFor(model => model.Wish, new { @rows = 3, @cols = 10 })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                        }

                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <div class="control-label font-weight-bold">Via de Contacto:</div>
                                                    @Html.DisplayFor(model => model.ContactType)
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="control-label font-weight-bold">Notas:</div>
                                                    @Html.DisplayFor(model => model.Note)
                                                </div>
                                            </div>
                                        </div>

                                        @*<div class="row pt-2 pb-3">

                                            <div class="col-md-12">

                                                <div class="accordion border" id="accordionCita">
                                                    <div class="card collapsed-card">
                                                        <div class="card-header" id="headingCita">
                                                            <h2 class="mb-0">
                                                                <button class="btn btn-link text-decoration-none" type="button" data-toggle="collapse" data-target="#collapseCardCita" aria-expanded="false" aria-controls="collapseCita">
                                                                    Cita
                                                                </button>
                                                            </h2>
                                                        </div>

                                                        <div id="collapseCardCita" class="collapse" aria-labelledby="headingCita" data-parent="#accordionCita">

                                                            <div class="card-body">

                                                                <div class="col-md-12">
                                                                    <label class="font-weight-bold">Representante:</label><br>

                                                                    <div class="row shadow-sm p-3 mb-5 bg-white rounded">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="control-label font-weight-bold">Nombres:</div>
                                                                                @Html.DisplayFor(model => model.listTask[0].PersonEmployeeName)
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="control-label font-weight-bold">Apellidos:</div>
                                                                                @Html.DisplayFor(model => model.listTask[0].PersonEmployeeLastName)
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <div class="control-label font-weight-bold">Prioridad:</div>
                                                                            @Html.DisplayFor(model => model.listTask[0].PriorityTask)
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <div class="control-label font-weight-bold">Tipo:</div>
                                                                            @Html.DisplayFor(model => model.listTask[0].TypeTask)
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <div class="control-label font-weight-bold">Estado:</div>
                                                                            @Html.DisplayFor(model => model.listTask[0].Status)
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <div class="control-label font-weight-bold">Actividad a realizar:</div>
                                                                            @Html.DisplayFor(model => model.listTask[0].Tittle)
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            <div class="control-label font-weight-bold">Fecha:</div>
                                                                            @Html.DisplayFor(model => model.listTask[0].DateIni)

                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            <div class="control-label font-weight-bold">Hora:</div>
                                                                            @Html.DisplayFor(model => model.listTask[0].HourIni)
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <div class="control-label font-weight-bold">Lugar:</div>
                                                                            @Html.DisplayFor(model => model.listTask[0].Place)

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>*@

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <br />
        <div>
            @Html.ActionLink("Regresar a la Lista", "ListServiceRequest")
        </div>

    </div>
</div>


