@using CustomerSupport.Models

@{
    ViewBag.Title = "Rendimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Action = "ListPerformance";

}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">@ViewBag.Title</h3>
    </div>
    <div class="card-body">

        @*@{
            MSerAcces perm = null;
            if (Session["Usuario"] != null)
            {
                perm = (((MSerUser)Session["Usuario"])).UserAcces.Where(X => X.Action == @ViewBag.Action).FirstOrDefault();
            }
        }*@

        <div class="row shadow-sm p-3 m-1 bg-white rounded">
            <div class="card-body">
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="ss_radioButton">
                                Tickets por Empleado
                                <input id="btnRadioXEmployee" type="radio" checked="checked" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row" style="display:none" id="divEmpoyee">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="control-label">Departamento:</div>
                                            <select class="form-control" id="lst_IdDepartemntEmplo" onchange="ObtenerPersonas()" style="width: 100%;"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="control-label">Responsable:</div>
                                            <select class="select2" id="filtropersona" onchange="filtrarPersona(this.value)" data-placeholder="Seleccione" name="IdPerson"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="ss_radioButton">
                                Tickets por Año
                                <input id="btnRadioXYear" type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row" style="display:none" id="divYear">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="control-label">Año Inicial:</div>
                                            <input id="YearIni" type="number" class="input-numeric inputLostFocus form-control rounded-0">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="control-label">Año Final:</div>
                                            <input id="YearEnd" type="number" class="input-numeric inputLostFocus form-control rounded-0">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <br />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="ss_radioButton">
                                Tickets por Departamento
                                <input id="btnRadioXDepartment" type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row" style="display:none" id="divDeparment">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="control-label">Departamento:</div>
                                            <select id="lst_IdDepartemnt" class="form-control" style="width: 100%;"></select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="ss_radioButton">
                                Tickets por Mes
                                <input id="btnRadioXMonth" type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row" style="display:none" id="divMonth">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="control-label">Año:</div>
                                            <input id="YearM" type="number" class="input-numeric inputLostFocus form-control rounded-0">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <br />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">

                            <label class="ss_radioButton">
                                Tickets por Rango de Fecha
                                <input id="btnRadioXDate" type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" style="display:none" id="divYear">
                            </div>
                        </div>
                    </div>



                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="ss_radioButton">
                                Tickets por Tipo
                                <input id="btnRadioXTypeTask" type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row" style="display:none" id="divTypetask">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="control-label">Tipo:</div>
                                            <select class="form-control" id="lst_IdTypeTask"  style="width: 100%;"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="row" style="display:none" id="divDate">
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="control-label">Fecha Inicio:</div>
                            @*<input id="dttDateIni" type="date" class="form-control">*@
                            @Html.TextBox("dttDateIni", DateTime.Now.Date, "{0:d}", new { @class = "form-control", @type = "date", @id = "dttDateIni" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="control-label">Fecha Fin:</div>
                            @*<input id="dttDateEnd" type="date" class="form-control">*@
                            @Html.TextBox("dttDateEnd", DateTime.Now.Date, "{0:d}", new { @class = "form-control", @type = "date", @id = "dttDateEnd" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group"  align="right">
                            <div class="btn_option pt-0" style=" vertical-align: bottom"><button class="searchRow border-0" data-toggle="tooltip" data-placement="top" title="Filtrar" onclick="FiltrarTicket()" ;return false;"><i class="fas fa-filter"></i></button></div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <br />
        <div class="row shadow-sm p-3 m-1 bg-white rounded">
            <div class="card-body">
                <div id="barChart_Content" class="chart">
                    @*  <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>*@
                </div>

    <!--<div class="m-0 row justify-content-center">
<div class="form-horizontal col-md-10">-->
    @*@using (Html.BeginForm("EditTask", "Task"))
    {*@



    <!--@Html.AntiForgeryToken()


<br />
<div class="row">
    <div id="Barchart"></div>
</div>

<div class="row">
    <div class="col-md-10 text-center">-->
    @*<span class="text-success">@ViewBag.SuccessSave</span>*@
    @*<span class="text-danger">@ViewBag.ErrorSave</span>*@
    <!--</div>
</div>-->
    @* }*@
    <!--</div>
</div>-->
            </div>

            <div>
                @Html.ActionLink("Regresar a la Lista", "ListTask", "Task")
            </div>


        </div>
    </div>
</div>

@section Scripts {

    <script src="~/Content/assets/js/jszip/jszip.min.js"></script>
    <script src="~/Content/assets/js/pdfmake/pdfmake.min.js"></script>
    <script src="~/Content/assets/js/pdfmake/vfs_fonts.js"></script>
    <script src="~/Scripts/Chart.min.js"></script>

    <script type="text/javascript">

        var ListPersons = [];

        function FiltrarTicket() {

           /* debugger;*/
            var oEmployee = $('#btnRadioXEmployee').is(":checked");

            var idDepartament = 0;
            if (oEmployee == true) {
                idDepartament = $("#lst_IdDepartemntEmplo").val();
            }

            var idEmployee = $("#filtropersona").val();

            var oDepartament = $('#btnRadioXDepartment').is(":checked");

            if (oDepartament == true) {
                idDepartament = $("#lst_IdDepartemnt").val();
            }

            var idTypeTask = 0;
            var oTypeTask = $('#btnRadioXTypeTask').is(":checked");

            if (oTypeTask == true) {
                idTypeTask = $("#lst_IdTypeTask").val();
            }

            var oYear = $('#btnRadioXYear').is(":checked");

            intYearIni = 0;
            intYearEnd = 0;
            if (oYear == true) {
                intYearIni = $("#YearIni").val();
                intYearEnd = $("#YearEnd").val();
            }

            intYear=0
            var oMonth = $('#btnRadioXMonth').is(":checked");
            if (oMonth == true) {
                intYear = $("#YearM").val();
            }

            var oDate = $('#btnRadioXDate').is(":checked");
            var oateTime = $("#dttDateIni").val();
            var oateEnd = $("#dttDateEnd").val();


            var datos = {
                XEmployee: oEmployee,
                IdEmployee: idEmployee,
                XDepartament: oDepartament,
                IdDepartment: idDepartament,
                XMonth: oMonth,
                Year: intYear,
                XYear: oYear,
                YearIni: intYearIni,
                YearEnd: intYearEnd,
                XDate: oDate,
                DateIni: oateTime,
                DateEnd: oateEnd,
                Xtype: oTypeTask,
                IdTypeTask: idTypeTask,
            };
            oLista = [];
            oLabel = [];

            //var canvas = document.getElementById("barChart");
            //var context = canvas.getContext('2d');
            //context.clearRect(0, 0, canvas.width, canvas.height);

            //var pChartContent = document.getElementById('barChart_Content');
            //pChartContent.innerHTML = '&nbsp;';
            //$('#barChart_Content').append('<canvas id="barChart" width="300" height="300"><canvas>');

            document.getElementById("barChart_Content").innerHTML = '&nbsp;';
            document.getElementById("barChart_Content").innerHTML = '<canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>';

            $.ajax({
                type: "GET",
                url: '@Url.Action("BarChart", "Performance")',
                data: datos,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (aData) {
                    //debugger;
                    /* myLineChart.destroy();*/

                    var miArray = aData[0];
                    var bg = aData[1];
                    var bc = aData[2];
                    var Arr = aData[3];

                    oLabel = aData[4][0];

                    var itemArray = {};
                    var Nombres = aData[0];
                    Nombres.forEach(function (Nombre, index, Nombres) {
                        var itemArray = {};
                        itemArray.label = Nombre;
                        itemArray.data = Arr[index];
                        itemArray.fill = false;
                        itemArray.backgroundColor = bg[index];
                        itemArray.borderColor = bc[index];
                        itemArray.borderWidth = 1;
                        oLista.push(itemArray)
                    });

                    var areaChartData = {
                        labels: oLabel,
                        datasets: oLista
                    }

                    //var canvas = document.getElementById("barChart");
                    //var context = canvas.getContext('2d');
                    //context.barChart.destroy();
                    //let chartStatus = Chart.getChart("barChart"); // <canvas> id
                    //if (chartStatus != undefined) {
                    //    barChart.destroy;
                    //}

                    let canvas = document.getElementById("barChart");
                    var barChartCanvas = canvas.getContext("2d");

                    /*var barChartCanvas = $('#barChart').get(0).getContext('2d')*/
                    var barChartData = $.extend(true, {}, areaChartData)
                    var temp0 = areaChartData.datasets[0]
                    /*   var temp1 = areaChartData.datasets[1]*/
                    /*barChartData.datasets[0] = temp1*/
                    barChartData.datasets[0] = temp0

                    var barChartOptions = {
                        responsive: true,
                        maintainAspectRatio: false,
                        datasetFill: false
                    }

                    var myLineChart = new Chart(barChartCanvas, {
                        type: 'bar',
                        data: barChartData,
                        options: barChartOptions
                    })



                    ////canvas = document.getElementById("barChart");
                    ////var context = canvas.getContext("2d");
                    //barChartCanvas.clearRect(0, 0, canvas.width, canvas.height);
                    //var w = canvas.width;
                    //canvas.width = 1;
                    //canvas.width = w;

                }
            });
        }

        function ObtenerPersonas() {
            //debugger;
            if ($("#lst_IdDepartemntEmplo").val() != null && $("#lst_IdDepartemntEmplo").val() > 0)
            {
                ListPersons = [];
                $("#filtropersona").empty();
                $('#filtropersona').unbind();
                var strrDepartment = "&IdDepartment="+$("#lst_IdDepartemntEmplo").val();
            }
            else {
                var strrDepartment = "";
            }

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetListPerson", "Person")?idPersonType=2& PersonStatus=null' + strrDepartment,
                data: "{}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                //global: false,
                //async: false,
                success: function (data) {
                    var itemArray = {};
                    itemArray.IdPerson = "";
                    itemArray.LastName = "";
                    itemArray.Name = "";
                    itemArray.NumIdentification = "";
                    data.push(itemArray);
                    data.reverse();
                    ListPersons = data;
                    if (ListPersons.length>0) {
                        var persona = $("#filtropersona")[0];
                        //debugger;
                        var option = $(document.createElement('option'));
                        option.text("Todos");
                        option.val("0");
                        $("#filtropersona").append(option);

                        for (i = 0; i < ListPersons.length; i++) {

                            if (ListPersons[i].IdPerson != "" && ListPersons[i].LastName != "") {
                                var Name = " ";
                                if (ListPersons[i].Name != "") {
                                    Name = " " + ListPersons[i].Name;
                                }

                                persona[i + 1] = new Option(ListPersons[i].NumIdentification + " - " + ListPersons[i].LastName + Name, ListPersons[i].IdPerson, "", "");

                            }

                        }
                    }
                }
            });
        }

        function cargarDataPerson(IdPerson, lstPersons) {
            if (IdPerson == "" || IdPerson == "0") { return false; }
            //debugger;
            var objPerson = lstPersons.find((m) => m.IdPerson == IdPerson);
            var fecha = new Date();
        }

        function filtrarPersona(person) {
            /*debugger;*/
            var SelecCodeValue = person.trim();
            cargarDataPerson(SelecCodeValue, ListPersons);
        }

        ObtenerPersonas();
        FiltrarTicket();
        $(document).ready(function () {

            $('.select2').select2({ width: '100%' });

            $.ajax({
            type: "GET",
                url: '@Url.Action("GetTableCatalog", "TableCatalog")?idTable=' +"DEPARTMENT",
            data: "{}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {

                var option = $(document.createElement('option'));
                option.text("Todos");
                option.val("0");
                $("#lst_IdDepartemntEmplo").append(option);

                $(msg).each(function () {
                    var option = $(document.createElement('option'));

                    option.text(this.DetailDesc);
                    option.val(this.IdCatalogDetail); //Identity

                    $("#lst_IdDepartemntEmplo").append(option);
                });

                document.getElementById('lst_IdDepartemntEmplo').value = "0";

            },
            error: function (msg) {
                $("#error > span").text("Error al llenar lista de Departamento Empleado");
            }

            });

            $.ajax({
                type: "GET",
                  url: '@Url.Action("GetTableCatalog", "TableCatalog")?idTable=' +"DEPARTMENT",
                data: "{}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {

                    var option = $(document.createElement('option'));
                    option.text("Todos");
                    option.val("0");
                    $("#lst_IdDepartemnt").append(option);

                    $(msg).each(function () {
                        var option = $(document.createElement('option'));

                        option.text(this.DetailDesc);
                        option.val(this.IdCatalogDetail); //Identity

                        $("#lst_IdDepartemnt").append(option);
                    });

                    document.getElementById('lst_IdDepartemnt').value = "0";

                },
                error: function (msg) {
                    $("#error > span").text("Error al llenar lista de Departamento");
                }

            });

             $.ajax({
                type: "GET",
                 url: '@Url.Action("GetTableCatalog", "TableCatalog")?idTable=' +"TYPETASK",
                data: "{}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {

                    var option = $(document.createElement('option'));
                    option.text("Todos");
                    option.val("0");
                    $("#lst_IdTypeTask").append(option);

                    $(msg).each(function () {
                        var option = $(document.createElement('option'));

                        option.text(this.DetailDesc);
                        option.val(this.IdCatalogDetail); //Identity

                        $("#lst_IdTypeTask").append(option);
                    });

                    document.getElementById('lst_IdTypeTask').value = "0";

                },
                error: function (msg) {
                    $("#error > span").text("Error al llenar lista de Departamento");
                }

            });

            if ($('#btnRadioXMonth').is(":checked") == true) {
                $("#divMonth").show();
            } else {
                $("#divMonth").hide();
            }

            if ($('#btnRadioXYear').is(":checked") == true) {
                $("#divYear").show();
            } else {
                $("#divYear").hide();
            }

            if ($('#btnRadioXEmployee').is(":checked") == true) {
                $("#divEmpoyee").show();
            } else {
                $("#divDate").hide();
            }

            if ($('#btnRadioXDepartment').is(":checked") == true) {
                $("#divDeparment").show();
            } else {
                $("#divDeparment").hide();
            }

            if ($('#btnRadioXDate').is(":checked") == true) {
                $("#divDate").show();
            } else {
                $("#divDate").hide();
            }

            $('input[type=radio][name=radio]').change(function () {


                var IsYear = $('#btnRadioXMonth').is(":checked");
                // If the checkbox is checked, display the output text
                if (IsYear == true) {
                    $("#divMonth").show();
                }
                else {
                    $("#divMonth").hide();
                }

                var IsYear = $('#btnRadioXYear').is(":checked");
                // If the checkbox is checked, display the output text
                if (IsYear == true) {
                    $("#divYear").show();
                }
                else {
                    $("#divYear").hide();
                }
                var IsEmployee = $('#btnRadioXEmployee').is(":checked");
                // If the checkbox is checked, display the output text
                if (IsEmployee == true) {
                    $("#divEmpoyee").show();
                }
                else {
                    $("#divEmpoyee").hide();
                }

                var IsDepartment = $('#btnRadioXDepartment').is(":checked");
                // If the checkbox is checked, display the output text
                if (IsDepartment == true) {
                    $("#divDeparment").show();
                }
                else {
                    $("#divDeparment").hide();
                }

                var IsRadioXDate = $('#btnRadioXDate').is(":checked");
                // If the checkbox is checked, display the output text
                if (IsRadioXDate == true) {
                    $("#divDate").show();
                }
                else {
                    $("#divDate").hide();
                }

                var IsRadioXTypeTask = $('#btnRadioXTypeTask').is(":checked");
                // If the checkbox is checked, display the output text
                if (IsRadioXTypeTask == true) {
                    $("#divTypetask").show();
                }
                else {
                    $("#divTypetask").hide();
                }

            });

          

        });

    </script>
}