@using CustomerSupport.Models
@model CustomerSupport.Models.MPerson

@{
    ViewBag.Title = "Crear Empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">@ViewBag.Title</h3>
    </div>
    <div class="card-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="m-0 row justify-content-center">
                <div class="form-horizontal col-md-10">

                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                @*<div class="control-label">Codigo:</div>*@
                                @Html.HiddenFor(model => model.IdPerson)
                                @*@Html.ValidationMessageFor(model => model.IdPerson, "", new { @class = "text-danger" })*@

                                @Html.HiddenFor(model => model.IdPersonType)
                                @Html.HiddenFor(model => model.IdContactType)
                            </div>
                        </div>
                    </div>
                    @*<hr>*@

                    <div class="row">
                        <div id="divDepartment" class="col-md-4">
                            <div class="form-group">
                                <div class="control-label">Departamento:</div>
                                <select id="lst_Department" class="form-control" style="width: 100%;">
                                </select>
                                @Html.HiddenFor(model => model.IdDepartment, new { @id = "inpIdDepartment" })
                                @Html.ValidationMessageFor(model => model.IdDepartment, "", new { @class = "text-danger" })
                            </div>
                        </div>  
                        <div id="divPosition" class="col-md-4">
                            <div class="form-group">
                                <div class="control-label">Cargo:</div>
                                <select id="lst_Position" class="form-control" style="width: 100%;">
                                </select>
                                @Html.HiddenFor(model => model.IdPosition, new { @id = "inpIdPosition" })
                                @Html.ValidationMessageFor(model => model.IdPosition, "", new { @class = "text-danger" })
                            </div>
                        </div>     
                        <div class="col-md-4 s_Checkbox">                            
                            @Html.CheckBoxFor(model => model.ClientPermission, new {@id = "blnClientPermission" })
                            <label>Permitir ver como cliente</label>
                            @Html.ValidationMessageFor(model => model.ClientPermission, "", new { @class = "text-danger" })
                        </div>                        
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="control-label">Tipo de Identificacion:</div>
                                <select id="lst_IdentificationType" class="form-control" style="width: 100%;">
                                </select>
                                @Html.HiddenFor(model => model.IdIdentificationType, new { @id = "inpIdIdentificationType" })
                                @Html.ValidationMessageFor(model => model.IdIdentificationType, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="control-label">Numero de Identificacion:</div>
                                @Html.TextBoxFor(model => model.NumIdentification, new { @class = "form-control", @maxlength = "15" })
                                @Html.ValidationMessageFor(model => model.NumIdentification, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="control-label">Nombres:</div>
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control text-capitalize input-alphabet" })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="control-label">Apellidos:</div>
                                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control text-capitalize input-alphabet" })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="control-label">Fecha de Nacimiento:</div>
                                @Html.TextBoxFor(model => model.Birthday, "{0:d}", new { @class = "form-control", @type = "date", @id = "dttBirthday" })
                                @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row pt-2 pb-3">

                        <div class="col-md-12">

                            <div class="accordion border" id="accordionContact">
                                <div class="card collapsed-card">
                                    <div class="card-header" id="headingContact">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link text-decoration-none" type="button" data-toggle="collapse" data-target="#collapseCardContact" aria-expanded="false" aria-controls="collapseContact">
                                                Teléfonos de Contacto
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapseCardContact" class="collapse" aria-labelledby="headingContact" data-parent="#accordionContact">

                                        <div class="card-body">

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <div class="control-label">Tipo:</div>
                                                        <select id="lst_PhoneNumberType" class="form-control" style="width: 100%;">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <div class="control-label">Código de Area:</div>
                                                        <select id="lst_CountryAreaCode" class="form-control" style="width: 100%;">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <div class="control-label">Número:</div>
                                                        <input class="form-control input-numeric" type="text" id="inpPhoneNumber" maxlength="15" />
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @*<div class="btn_option"><a id="addRow"><i class="fas fa-plus"></i></a></div>*@
                                                        <div class="btn_option"><a onclick="addRow();"><i class="fas fa-plus"></i></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            @*<hr>*@
                                            <div class="row pt-3">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="table-responsive">
                                                            <div class="container">

                                                                <table id="TPersonContact" class="table table-bordered table-striped">
                                                                    <thead class="font-weight-bold">
                                                                        <tr>
                                                                            <td style="display:none;">colHid_indexCell</td>
                                                                            <td style="display:none;">colHid_IdPhoneNumberType</td>
                                                                            <td style="display:none;">colHid_IdIsoCountry</td>
                                                                            <td style="display:none;">colHid_PhoneNumber</td>
                                                                            <td style="display:none;">colHid_PhoneNumberType</td>
                                                                            <td style="display:none;">colHid_CountryAreaCode</td>
                                                                            <td>Tipo</td>
                                                                            <td>Código Area</td>
                                                                            <td>Número</td>
                                                                            <td>Opciones</td>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="BodyPersonContact">
                                                                        @if (Model != null)
                                                                        {
                                                                            if (Model.listPersonContact != null)
                                                                            {
                                                                                string idRow;
                                                                                string idCol;
                                                                                string nameCol_IdPhoneNumberType;
                                                                                string nameCol_IdIsoCountry;
                                                                                string nameCol_PhoneNumber;
                                                                                string nameCol_PhoneNumberType;
                                                                                string nameCol_CountryAreaCode;

                                                                                for (var i = 0; i < Model.listPersonContact.Count; i++)
                                                                                {
                                                                                    idRow = "trContact" + i.ToString();
                                                                                    idCol = "listPersonContact_" + i.ToString();
                                                                                    nameCol_IdPhoneNumberType = "listPersonContact[" + i.ToString() + "].IdPhoneNumberType";
                                                                                    nameCol_IdIsoCountry = "listPersonContact[" + i.ToString() + "].IdIsoCountry";
                                                                                    nameCol_PhoneNumber = "listPersonContact[" + i.ToString() + "].PhoneNumber";
                                                                                    nameCol_PhoneNumberType = "listPersonContact[" + i.ToString() + "].PhoneNumberType";
                                                                                    nameCol_CountryAreaCode = "listPersonContact[" + i.ToString() + "].CountryAreaCode";

                                                                                    <tr id='@idRow'>
                                                                                        <td style="display:none;"><input name="listPersonContact.Index" type="hidden" value='@i' /></td>
                                                                                        <td style="display:none;"><input id='@idCol' name='@nameCol_IdPhoneNumberType' type="hidden" value='@Model.listPersonContact[i].IdPhoneNumberType' /></td>
                                                                                        <td style="display:none;"><input id='@idCol' name='@nameCol_IdIsoCountry' type="hidden" value='@Model.listPersonContact[i].IdIsoCountry' /></td>
                                                                                        <td style="display:none;"><input id='@idCol' name='@nameCol_PhoneNumber' type="hidden" value='@Model.listPersonContact[i].PhoneNumber' /></td>
                                                                                        <td style="display:none;"><input id='@idCol' name='@nameCol_PhoneNumberType' type="hidden" value='@Model.listPersonContact[i].PhoneNumberType' /></td>
                                                                                        <td style="display:none;"><input id='@idCol' name='@nameCol_CountryAreaCode' type="hidden" value='@Model.listPersonContact[i].CountryAreaCode' /></td>
                                                                                        <td>@Model.listPersonContact[i].PhoneNumberType</td>
                                                                                        <td>@Model.listPersonContact[i].CountryAreaCode</td>
                                                                                        <td name="PhoneNumber">@Model.listPersonContact[i].PhoneNumber</td>
                                                                                        <td><div class="btn_option pt-0"><a class="deleteRow" onclick="deleteRow('@i');"><i class="far fa-trash-alt"></i></a></div></td>
                                                                                    </tr>

                                                                                    @*<tr>
                                                                                        <td style="display:none;"><input name="listPersonContact.Index" type="hidden" value="'@i'" /></td>
                                                                                        <td style="display:none;"><input id="listPersonContact_'@i'" name="listPersonContact['@i'].IdPhoneNumberType" type="hidden" value='@Model.listPersonContact[i].IdPhoneNumberType' /></td>
                                                                                        <td style="display:none;"><input id="listPersonContact_'@i'" name="listPersonContact['@i'].IdIsoCountry" type="hidden" value='@Model.listPersonContact[i].IdIsoCountry' /></td>
                                                                                        <td style="display:none;"><input id="listPersonContact_'@i'" name="listPersonContact['@i'].PhoneNumber" type="hidden" value='@Model.listPersonContact[i].PhoneNumber' /></td>
                                                                                        <td style="display:none;"><input id="listPersonContact_'@i'" name="listPersonContact['@i'].PhoneNumberType" type="hidden" value='@Model.listPersonContact[i].PhoneNumberType' /></td>
                                                                                        <td style="display:none;"><input id="listPersonContact_'@i'" name="listPersonContact['@i'].CountryAreaCode" type="hidden" value='@Model.listPersonContact[i].CountryAreaCode' /></td>
                                                                                        <td>@Model.listPersonContact[i].PhoneNumberType</td>
                                                                                        <td>@Model.listPersonContact[i].CountryAreaCode</td>
                                                                                        <td name="PhoneNumber_'@i'">@Model.listPersonContact[i].PhoneNumber</td>
                                                                                        <td><div class="btn_option pt-0"><a class="deleteRow" onclick="deleteRow('@i');"><i class="far fa-trash-alt"></i></a></div></td>
                                                                                    </tr>*@
                                                                                }
                                                                            }
                                                                        }
                                                                    </tbody>
                                                                </table>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <div class="control-label">Direccion:</div>
                                @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @rows = 3, @cols = 10 })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="control-label">Email:</div>
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "usuario@email.com" })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    @*<div class="row">
                        <div class="col-md-4">
                            <label class="control-label">Estatus:</label>
                            <div class="s_status">
                                <label>
                                    <span id="labEstatus"></span>
                                    @Html.CheckBoxFor(model => model.Status, new { @class = "form-control", @id = "chkStatus" })
                                    <span class="s_st_checkbox border-secondary"></span>
                                </label>
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>*@

                    @*<div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label">Estado: </label>
                                <div class="col-md-6 s_Checkbox">
                                    @Html.TextBoxFor(model => model.Status, new { @type = "checkbox", @id = "chkStatus" })
                                    @Html.LabelFor(model => model.StatusDesc, new { @id = "labEstatus" })

                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>*@

                    <div class="row">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="form-group">
                                <div class="text-center">
                                    @*<a href="location.href='@Url.Action("Create", "Employee")';return false;" class="white_btn">Grabar</a>*@
                                    <button class="white_btn" type="submit">Grabar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10 text-center">
                            @*<span class="text-success">@ViewBag.SuccessSave</span>*@
                            @*<span class="text-danger">@ViewBag.ErrorSave</span>*@
                        </div>
                    </div>

                </div>

            </div>

        }

        <div>
            @Html.ActionLink("Regresar a la Lista", "ListEmployee")
        </div>

    </div>
</div>

@section Scripts {

    <script src="~/Content/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Content/assets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/assets/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/assets/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/assets/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/Content/assets/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            //Validacion de fecha--------------------------------------------
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd
            }
            if (mm < 10) {
                mm = '0' + mm
            }

            today = yyyy + '-' + mm + '-' + dd;
            document.getElementById("dttBirthday").setAttribute("max", today);
            //----------------------------------------------------------------

            //Mensaje de confirmacion--------------------
            if ("@ViewBag.SuccessSave"!=""){
                toastr.success("@ViewBag.SuccessSave");
            }
            if ("@ViewBag.ErrorSave" != ""){
                toastr.error("@ViewBag.ErrorSave");
            }
            //-------------------------------------------

            // If the checkbox is checked, display the output text
            if ($("#chkStatus").checked == true) {
                $("#labEstatus").text("Activo");
            } else {
                $("#labEstatus").text("Inactivo");
            }

            $("#lst_Position").on('change', function () {
                var selectValue = $(this).val();
                //$("#inpIdPosition").val(selectValue);
                changeCodeInputHiddenList("lst_Position", "inpIdPosition", selectValue);
            });

            $("#lst_IdentificationType").on('change', function () {
                var selectValue = $(this).val();
                //$("#inpIdIdentificationType").val(selectValue);
                changeCodeInputHiddenList("lst_IdentificationType", "inpIdIdentificationType", selectValue);
            });

            $("#lst_Department").on('change', function () {
                var selectValue = $(this).val();
                //$("#inpIdDepartment").val(selectValue);
                changeCodeInputHiddenList("lst_Department", "inpIdDepartment", selectValue);
            });

            $("#chkStatus").on('click', function () {

                var IsSelected = $('#chkStatus').is(":checked");

                // If the checkbox is checked, display the output text
                if (IsSelected == true) {
                    $("#labEstatus").text("Activo");
                } else {
                    $("#labEstatus").text("Inactivo");
                }

            });

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetTableCatalog", "TableCatalog")?idTable='+"POSITION",
                data: "{}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {

                    var option = $(document.createElement('option'));
                    option.text("Seleccione");
                    option.val("0");
                    $("#lst_Position").append(option);

                    $(msg).each(function () {
                        var option = $(document.createElement('option'));
                        option.text(this.DetailDesc);
                        option.val(this.IdCatalogDetail); //Identity

                        $("#lst_Position").append(option);
                    });

                    document.getElementById('lst_Position').value = "0";

                    changeCodeInputHiddenList("lst_Position", "inpIdPosition", "");
                },
                error: function (msg) {
                    $("#error > span").text("Error al llenar lista de cargos");
                }

            });

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetTableCatalog", "TableCatalog")?idTable=' +"IDENTIFICATIONTYPE",
                data: "{}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {

                    var option = $(document.createElement('option'));
                    option.text("Seleccione");
                    option.val("0");
                    $("#lst_IdentificationType").append(option);

                    $(msg).each(function () {
                        var option = $(document.createElement('option'));

                        option.text(this.DetailDesc);
                        option.val(this.IdCatalogDetail); //Identity

                        $("#lst_IdentificationType").append(option);
                    });

                    document.getElementById('lst_IdentificationType').value = "0";

                    changeCodeInputHiddenList("lst_IdentificationType", "inpIdIdentificationType", "");

                },
                error: function (msg) {
                    $("#error > span").text("Error al llenar lista de tipos de identificacion");
                }

            });

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetTableCatalog", "TableCatalog")?idTable='+"DEPARTMENT",
                data: "{}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {

                    var option = $(document.createElement('option'));
                    option.text("Seleccione");
                    option.val("0");
                    $("#lst_Department").append(option);

                    $(msg).each(function () {
                        var option = $(document.createElement('option'));
                        option.text(this.DetailDesc);
                        option.val(this.IdCatalogDetail); //Identity

                        $("#lst_Department").append(option);
                    });

                    document.getElementById('lst_Department').value = "0";

                    changeCodeInputHiddenList("lst_Department", "inpIdDepartment", "");
                },
                error: function (msg) {
                    $("#error > span").text("Error al llenar lista de departamentos");
                }

            });

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetTableCatalog", "TableCatalog")?idTable='+"PHONENUMBERTYPE",
                data: "{}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {

                    var option = $(document.createElement('option'));
                    option.text("Seleccione");
                    option.val("");
                    $("#lst_PhoneNumberType").append(option);

                    $(msg).each(function () {
                        var option = $(document.createElement('option'));
                        option.text(this.DetailDesc);
                        option.val(this.IdCatalogDetail); //Identity

                        $("#lst_PhoneNumberType").append(option);
                    });

                    document.getElementById('lst_PhoneNumberType').value = "";
                },
                error: function (msg) {
                    $("#error > span").text("Error al llenar lista de tipos de telefono contacto");
                }

            });

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetListCountry", "Country")',
                data: "{}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {

                    var option = $(document.createElement('option'));
                    option.text("Seleccione");
                    option.val("");
                    $("#lst_CountryAreaCode").append(option);

                    $(msg).each(function () {
                        var option = $(document.createElement('option'));
                        option.text(this.CountryAreaCode);
                        option.val(this.IdIsoCountry); //Identity

                        $("#lst_CountryAreaCode").append(option);
                    });

                    document.getElementById('lst_CountryAreaCode').value = "";
                },
                error: function (msg) {
                    $("#error > span").text("Error al llenar lista de Paises");
                }

            });

        });

        function changeCodeInputHiddenList(idDropDownList, idInputHidden, valCode) {
            //debugger;
            if (valCode === "") {

                var CodeAntSelected = document.getElementById(idInputHidden).value;

                if (CodeAntSelected != "") {
                    $("#" + idDropDownList + " option[value='" + CodeAntSelected + "']").attr("selected", true);
                    $("#" + idInputHidden).val(CodeAntSelected);
                }
                else {
                    var CodeActual = $("#" + idDropDownList).val();
                    $("#" + idInputHidden).val(CodeActual);
                }

            }
            else {
                $("#" + idInputHidden).val(valCode);
            }

        }

        function deleteRow(id) {
            var controlToBeRemoved = "#trContact" + id;
            $(controlToBeRemoved).remove();
        }

        function addRow() {


            @{
                Model.listPersonContact.Add(new MPersonContact());
            }

            //obtenemos los valores a insertar
            var strIdPhoneNumberType = $("#lst_PhoneNumberType").val();
            var strPhoneNumberType = $('select[id="lst_PhoneNumberType"] option:selected').text();
            var strIdIsoCountry = $("#lst_CountryAreaCode").val();
            var strCountryAreaCode = $('select[id="lst_CountryAreaCode"] option:selected').text();
            var strPhoneNumber = $("#inpPhoneNumber").val();

            //debugger;
            if (strPhoneNumber != "" && strIdIsoCountry != "" && strIdPhoneNumberType != "") {

                //-------------------------

                var index = document.getElementById('TPersonContact').rows.length;
                //alert(index);

                var colHid_indexCell = "<td style='display:none'><input name='listPersonContact.Index' type = 'hidden' value = '" + index + "' /></td > ";
                var colHid_IdPhoneNumberType = "<td style='display:none'><input id='listPersonContact_" + index + "' name = 'listPersonContact[" + index + "].IdPhoneNumberType' type='hidden' value='" + strIdPhoneNumberType + "' /></td> ";
                var colHid_IdIsoCountry = "<td style='display:none'><input id='listPersonContact_" + index + "' name = 'listPersonContact[" + index + "].IdIsoCountry' type = 'hidden' value = '" + strIdIsoCountry + "' /></td> ";
                var colHid_PhoneNumber = "<td style='display:none'><input id='listPersonContact_" + index + "' name = 'listPersonContact[" + index + "].PhoneNumber' type = 'hidden' value = '" + strPhoneNumber + "' /></td> ";
                var colHid_PhoneNumberType = "<td style='display:none'><input id='listPersonContact_" + index + "' name = 'listPersonContact[" + index + "].PhoneNumberType' type = 'hidden' value = '" + strPhoneNumberType + "' /></td> ";
                var colHid_CountryAreaCode = "<td style='display:none'><input id='listPersonContact_" + index + "' name = 'listPersonContact[" + index + "].CountryAreaCode' type = 'hidden' value = '" + strCountryAreaCode + "' /></td> ";

                var colPhoneNumberType = "<td>" + strPhoneNumberType + "</td> ";
                var colCountryAreaCode = "<td>" + strCountryAreaCode + "</td> ";
                var colPhoneNumber = "<td name='PhoneNumber'>" + strPhoneNumber + "</td> ";
                var colDelete = "<td><div class='btn_option pt-0'><a class='deleteRow' onclick='deleteRow(" + index + ");'><i class='far fa-trash-alt'></i></a></div></td> ";

                //Si el numero a insertar ya existe lo elimina para luego volver a insertarlo y asi evitar duplicados
                var isFound = doSearchForDelete(strPhoneNumber, "PhoneNumber");
                //alert(isFound);

                //insertamos los valores en la tabla
                var newRow = "<tr id='trContact" + index + "'>" +
                    colHid_indexCell + colHid_IdPhoneNumberType + colHid_IdIsoCountry + colHid_PhoneNumber + colHid_PhoneNumberType + colHid_CountryAreaCode +
                    colPhoneNumberType + colCountryAreaCode + colPhoneNumber + colDelete + "</tr>";
                //debugger;
                $("#TPersonContact").append(newRow);

                //--------------------------

                //limpiamos los valores ya agregados
                document.getElementById('lst_PhoneNumberType').value = "";
                document.getElementById('lst_CountryAreaCode').value = "";
                document.getElementById('inpPhoneNumber').value = "";
            }

        }

        function doSearchForDelete(searchText, colName) {

            const tableReg = document.getElementById('TPersonContact');
            let position = 0;
            let found = false;

            // Recorremos todas las filas con contenido de la tabla
            for (let i = 1; i < tableReg.rows.length; i++) {

                const cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
                let searchCol = colName; //+ i.toString();
                const compareWith = cellsOfRow[searchCol].innerHTML.toLowerCase();

                // Buscamos el texto en el contenido de la celda y capturamos la posicion de la fila
                if (compareWith.indexOf(searchText.toLowerCase()) > -1) {
                    found = true;
                    position = i;
                    break;
                }

            }
            //si lo encontro, se elimina
            if (found) { document.getElementById('TPersonContact').deleteRow(position); }

            return found;
        }

        function searchDescription(code, idList) {
            //debugger;
            var Description = $("#" + idList + " option[value='" + code + "']").text();
            //alert(Description);
            return Description;
        }

    </script>
}
